<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">DevManagePro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects/list">My Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/users/logout" class="btn btn-secondary">Logout (<%=user.name%>)</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3"><%=project.title%></h1>
        <p class="lead"><%=project.description%></p>
        <hr class="my-4">
        <p> Due Date: <%=project.duedate%></p>
        <p> Tasks:</p>
        <%for (i = 0; i < project.projecttasks.length; i++) {%>
        <p><b>Title:</b> <%=project.projecttasks[i].title%>    <b>Description:</b> <%=project.projecttasks[i].description%> <b>Recipient:</b> <a href="mailto:<%=project.projecttasks[i].recipient%>" target="_blank"><%=project.projecttasks[i].recipient%></a></p>
        <%}%>
        <form action="/projects/delete/<%=project._id %>" method="POST">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#taskcreation">Add Tasks</a>
            <a href="/projects/edit/<%=project._id %>" class="btn btn-info">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
<div class="modal" id="taskcreation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/projects/addtask/<%=project._id%>" method="POST">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Name Project" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" class="form-control"
                        placeholder="Give a Description" />
                </div>
                <div class="form-group">
                    <label for="recipient">Recipient Email</label>
                    <input type="text" id="recipient" name="recipient" class="form-control"
                        placeholder="example@gmail.com" />
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
</div>